.image-hotspot {
    --image-hotspot-position-top: 0;
    --image-hotspot-position-left: 0;
    --image-hotspot-line-width: 20px;
    --image-hotspot-line-height: 2px;

    position: absolute;
    background: white;
    width: 40px;
    height: 40px;
    border: solid 1px #666;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    top: var(--image-hotspot-position-top);
    left: var(--image-hotspot-position-left);

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        height: var(--image-hotspot-line-height);
        width: var(--image-hotspot-line-width);
        background: #666;
        transform: translate(-50%, -50%);
    }

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        height: var(--image-hotspot-line-width);
        width: var(--image-hotspot-line-height);
        background: #666;
        transform: translate(-50%, -50%);
    }
}
