/**
 * Circular Text
 * @see https://devdojo.com/temani-afif/wrapping-text-inside-a-circular-shape
 */

[data-info-circle] {
    --ic-outer-circle-border-thickness: 5px;
    --ic-outer-circle-border-color: #F0F0F0;
    --ic-outer-circle-border-style: solid;

    --ic-inner-circle-border-thickness: 1px;
    --ic-inner-circle-border-color: #fff;
    --ic-inner-circle-border-style: solid;
    --ic-inner-circle-offset: 110px;
    --ic-inner-circle-content-padding: 15px;

    --ic-inner-circle-color: #fff;
    --ic-inner-circle-background: #4D4D4D;

    --ic-element-border-thickness: 1px;
    --ic-element-border-color: #ccc;
    --ic-element-border-style: solid;
    --ic-element-size: 70px;
    --ic-element-color: #fff;
    --ic-element-background: #007BC4;

    --ic-active-element-color: #fff;
    --ic-active-element-background: #4D4D4D;

    --ic-hover-element-color: #fff;
    --ic-hover-element-background: #f00;
    --ic-hover-element-scale: 1.1;
    --ic-hover-element-transition-duration: .2s;
    --ic-hover-element-transition-timing: ease;

    --ic-transition-duration: 2s;
    --ic-transition-timing: ease;

    aspect-ratio: 1/1;
    position: relative;

    .info-circle--outer {
        position: absolute;
        left: calc(var(--ic-element-size) / 2 - (var(--ic-outer-circle-border-thickness) / 2));
        top: calc(var(--ic-element-size) / 2 - (var(--ic-outer-circle-border-thickness) / 2));
        height: calc(100% - var(--ic-element-size) + var(--ic-outer-circle-border-thickness));
        width: calc(100% - var(--ic-element-size) + var(--ic-outer-circle-border-thickness));
        border-radius: 50%;
        border-style: var(--ic-outer-circle-border-style);
        border-color: var(--ic-outer-circle-border-color);
        border-width: var(--ic-outer-circle-border-thickness);
    }

    .info-circle--inner {
        position: absolute;
        left: var(--ic-inner-circle-offset);
        top: var(--ic-inner-circle-offset);
        height: calc(100% - (var(--ic-inner-circle-offset) * 2));
        width: calc(100% - (var(--ic-inner-circle-offset) * 2));
        border-radius: 50%;
        border-style: var(--ic-inner-circle-border-style);
        border-color: var(--ic-inner-circle-border-color);
        border-width: var(--ic-inner-circle-border-thickness);
        overflow: hidden;
        color: var(--ic-inner-circle-color);
        background: var(--ic-inner-circle-background);

        .info-circle--element-content {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            text-align: center;

            i.info-circle--element-content-shape,
            &:before {
                content: '';
                float: left;
                height:100%;
                width: 50%;
                shape-outside: radial-gradient(farthest-side at right, transparent calc(100% - var(--ic-inner-circle-content-padding)), #fff 0);
            }

            i.info-circle--element-content-shape {
                float: right;
                shape-outside: radial-gradient(farthest-side at left,  transparent calc(100% - var(--ic-inner-circle-content-padding)), #fff 0);
            }
        }
    }

    .info-circle--element-rotator {
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: top left;
        height: calc(50% - (var(--ic-element-size) / 2));
        width: 0;
        transition: transform var(--ic-transition-duration) var(--ic-transition-timing) 0s;

        .info-circle--element {
            position: relative;
            left: 0;
            top: 100%;
            transform: translate(-50%, -50%);
            height: var(--ic-element-size);
            width: var(--ic-element-size);
            border-radius: 50%;
            border-style: var(--ic-element-border-style);
            border-color: var(--ic-element-border-color);
            border-width: var(--ic-element-border-thickness);
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--ic-element-color);
            background: var(--ic-element-background);
            transition: all var(--ic-hover-element-transition-duration) var(--ic-hover-element-transition-timing) 0s;

            .info-circle--element-icon {
                pointer-events: none;
            }

            &.info-circle--element__active {
                color: var(--ic-active-element-color);
                background: var(--ic-active-element-background);
            }

            &:hover:not(.info-circle--element__active) {
                color: var(--ic-hover-element-color);
                background: var(--ic-hover-element-background);
                height: calc(var(--ic-element-size) * var(--ic-hover-element-scale));
                width: calc(var(--ic-element-size) * var(--ic-hover-element-scale));
                cursor: pointer;
            }

            :first-child {
                transition: transform var(--ic-transition-duration) var(--ic-transition-timing) 0s;
            }
        }
    }
}
