[data-timeline] {
    --timeline-junction-size: 16px;
    --timeline-junction-color: #007BC4;

    --timeline-line-strength: 1px;
    --timeline-line-color: #B3B3B3;
    --timeline-line-space: 5px;
    --timeline-item-padding-x: 10px;

    --timeline-divider-length: 60%;
    --timeline-divider-color: #007BC4;

    --timeline-controls-padding: 50px;

    position: relative;
    padding-left: var(--timeline-controls-padding);
    overflow: hidden;

    .timeline-items {
        $headlineBorderOffsetX: calc((var(--timeline-item-padding-x) * -1) - (var(--timeline-line-strength) / 2) + (var(--timeline-junction-size) / 2));
        $headlineBorderOffsetY: calc((var(--timeline-line-space) * -1) - (var(--timeline-junction-size) / 2) + (var(--timeline-line-strength) / 2));
        $contentBorderOffsetX: $headlineBorderOffsetX;
        $contentBorderOffsetY: calc((var(--timeline-line-strength) / 2 * -1) + (var(--timeline-junction-size) / 2) + var(--timeline-line-space));
        $dividerOffsetX: calc((var(--timeline-item-padding-x) * -1) + var(--timeline-line-space) + var(--timeline-junction-size));
        $junctionOffsetX: calc(-50% - var(--timeline-line-space) - (var(--timeline-junction-size) / 2));
        $junctionOffsetY: calc(-50% + var(--timeline-line-strength) / 2);
        $headlineLeftPadding: calc(var(--timeline-item-padding-x) + (var(--timeline-junction-size) / 2) + (var(--timeline-line-strength) / 2));
        $contentLeftPadding: $headlineLeftPadding;

        max-height: 600px;
        overflow: hidden;
        width: 100%;

        .timeline-item {
            position: relative;
            padding: 0 var(--timeline-item-padding-x);

            .timeline-item-headline {
                position: relative;
                padding-bottom: 10px;
                padding-left: $headlineLeftPadding;

                * {
                    margin: 0;
                }

                &:after {
                    display: block;
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: var(--timeline-line-strength);
                    transform: translate($headlineBorderOffsetX, $headlineBorderOffsetY);
                    background: var(--timeline-line-color);
                }
            }

            .timeline-item-divider {
                height: var(--timeline-line-strength);
                width: calc(var(--timeline-divider-length) + var(--timeline-item-padding-x));
                transform: translateX($dividerOffsetX);
                background: var(--timeline-divider-color);

                &:before {
                    display: block;
                    content: '';
                    position: relative;
                    height: var(--timeline-junction-size);
                    width: var(--timeline-junction-size);
                    background: var(--timeline-junction-color);
                    transform: translate($junctionOffsetX, $junctionOffsetY);
                    border-radius: 50%;
                }
            }

            .timeline-item-content {
                position: relative;
                padding: 10px 0 50px $contentLeftPadding;
                margin: 0;

                &:after {
                    display: block;
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: calc(100% - $contentBorderOffsetY);
                    width: var(--timeline-line-strength);
                    transform: translate($contentBorderOffsetX, $contentBorderOffsetY);
                    background: var(--timeline-line-color);
                }
            }
        }

        .timeline-item:last-of-type .timeline-item-content {
            padding-bottom: 10px;
        }
    }

    .timeline-controls {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: var(--timeline-controls-padding);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
